body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
}

.nav-header {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid seashell;

}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  height: 69px;

}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

a .nav {
  display: flex;
  flex-flow: row nowrap;
}

a {
  margin-left: 20px;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.hero {
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  margin: 0 auto 80px auto;
}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  width: 100%;
  margin: 10px 0 10px 0;
}

.subsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 1000px;
}

.image-content {
  width: 300px;
  margin-top: 40px;
}

.image {
  /* display: flex; */
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
}

.fall-berry-blitz {
  background-image: url("../../resources/images/img-berryblitz.jpg");
  /* width: 300px;
  height: 200px; */
}

h4 {
  text-align: center;
  padding-top: 10px;
}
