body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
}

.nav-header {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid seashell;

}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  height: 69px;

}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

a .nav {
  display: flex;
  flex-flow: row nowrap;
}

a {
  margin-left: 20px;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
}

.hero {
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  width: 100%;
  margin: 10px 0 10px 0;
}
